.navbar{
    background-color:darkcyan;
    overflow: hidden;
    font-family:'rockwell';
}

.navbar a{
    float:right;
    font-size: 20px;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 18px 15px;
}

a:hover{
    background-color: aquamarine;
    color:blue;
}
a:active{
    color:white;
    background-color: darkblue;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0.2);
}

.circle{
    width: 200px;
    height: 200px;
    background: url(bg.jpg);
    border-radius: 50%;
    float:left;
    shape-outside: circle();
    margin: 10px 20px 20px 0;
}


#h{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-style: oblique;
}

h1{
    font-size: 40px;
    color:rgb(30, 30, 34);
    background-color: rgba(235, 213, 93, 0.5);
    text-shadow: 6px 2px 2px gray;
    text-align: center;
    border: 2px solid black;
    width:50%;
    border-radius: 20px 20px 20px 20px;
    margin: 40px auto 40px auto;
    border-color: darkcyan;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 8px;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:black;
    background-size: cover;
    background-color: gainsboro;
    font-size: 1em;
    background-image: url("css/bl.jpg");
}

p{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'rockwell';
    line-height: 1.6em;
    word-spacing: 0.3em;
}


input[type=text], select{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 26%;
    background-color: #7bcf7d;
    color: white;
    padding: 15px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #7bcf7d;
}

input[type=reset]{
    width: 26%;
    background-color: #db615a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover{
    background-color: #db615a;
}


.content{
    position: absolute;
    top: 35%;
    left: 35%;
    width: 400px;
    padding: 38px;
    color:white;
    background: rgb(126, 121, 121, 0.5);
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.589);
}

#h2{
    color:orange;
    position: absolute;
    top:-5% ;
    left:35% ;
    text-align: center;
}

/* 
.header{
    margin: 0 0 20px;
    text-align: center;
    padding: 1px;
    font-size: 20px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-emphasis-color: white;
} */


/* Blockchain page */

#h1{
    color: rgb(17, 17, 20);
    background-color:rgb(179, 107, 107);
    background-color: rgba(202, 30, 20,0.4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-style: oblique;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    text-align: center;
    vertical-align: top;
    text-shadow:6px 2px 2px gray;

    border: 2px solid black;
    width: 50%;
    border-radius: 70px 70px 70px 70px;
    -webkit-box-align: center;
    -moz-box-align: center;

    box-shadow:inset 15px 10px 10px gray;

    padding: 15px;

    margin: 30px auto 60px auto;
}

#p1,#p2,#p3{
    color: black;
    background-color: rgba(88, 175, 88, 0.9);
    text-align: justify;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5em;
    word-spacing: 0.2em;

    border: 2px solid black;
    width: 50%;
    border-radius: 40px 40px 40px 40px;
    -webkit-box-align: center;
    -moz-box-align: center;

    box-shadow: inset 13px 8px 8px gray;

    padding: 15px;

    margin-top:20px;
    margin-left: 20px;
}


#p1::first-letter{
    font-size: 30px;
}
#p2::first-letter{
    font-size: 30px;
}
#p3::first-letter{
    font-size: 30px;
}